html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main {
    display: block;
    overflow: hidden;
    margin: 0 5%;
}

.clear {
    clear: both;
}

header {
    color: white;
    border-radius: 0 0 5px 5px;
    background-color: #000;
    height: 20px;
    margin-bottom: 1%;
}

.headerLeft {
    float: left;
    padding: 0 2%;
}

.headerRight {
    float: right;
    padding: 0 2%;
}

footer {
    display: inline-block;
    width: 90%;
    height: 0.5%;
    position: absolute;
    bottom: 0;
    color: white;
    border-radius: 5px 5px 0 0;
    background-color: #3399FF;
}

footer:hover {
    height: 3%;
}

.footerElem {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 25%;
}

.footerElem:hover {
    background-color: rgb(30, 131, 200);
}